{%  extends 'base.html.twig' %}

{% block body %}
<h2 class="page-header">Todo List</h2>
    
    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>Todo</th>
            <th>Description</th>
            <th>Category</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th></th>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.name }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.category }}</td>
                <td>{{ todo.dueDate|date('d-m-y') }}</td>
                <td>{{ todo.priority }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('todo_details', { 'id': todo.id }) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a class="btn btn-default" href="{{ path('todo_edit', { 'id': todo.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="btn btn-success" href="{{ "#" }}"><span class="glyphicon glyphicon-user"></span></a>
                    <a class="btn btn-danger" href="{{ path('todo_delete', { 'id': todo.id }) }}"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%  endblock %}